*{
    margin: 0px;
    padding: 0px;
    font-family: arial;
}
.navbar{
    height: 60px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center; 
    justify-content: space-around;
}
.nav-logo{
    height: 50px;
    width: 145px;
}
.logo{
    height: 50px;
    width: 100%;
    background-image: url(amazon_logo2.png);
    background-size: cover;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid white;
}
.nav-address{
    height:50px;
}
#add-p1{
    font-size: 0.85rem;
    color: #cccccc;
    margin-left: 20px;
    margin-top: 6px;

}
#add-p2{
    font-size:1rem;
}
.add-icon{
    display: flex;
    align-items: center;
}

.nav-search{
    color: #0f1111;
    display: flex;
    width: 750px;
    height: 40px;
    border-radius: 4px;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
    border: none;
}
.search-input{
    width:100%;
    border: none;
    font-size: 1rem;

}
.search-icon{
    color: white;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 183, 0);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.search-select:hover{
    background-color: #f3f3f3e2; ;
}
.search-icon:hover{
    background-color: rgb(255, 165, 0);;
}
.nav-nation{
    height: 50px;
}
.nation-sel{
    height: 100%;
    background-color:black ;
    color: white;
}
.nav-account{
    height: 50px;

}
#acc-p1{
     font-size: 0.85rem;
     margin-left: 4px;
     margin-top: 6px;
}
.account-select{
    background-color: black;
    color: white;
    border: none;
    font-size: 1rem;
}
.nav-order{
    height: 50px;
}
#order-p1{
    font-size: 0.85rem;
     margin-left: 4px;
     margin-top: 6px;
}
#order-p2{
    font-size: 1rem;
}
.nav-cart{
    height:50px;
    display: flex;
    font-size: 32px;
    margin-right: 10px;
    align-items: center;
}
#cart-p1{
    font-size:16px;
    display: flex;
    align-items: end;
}

.panel{
    height: 40px;
    background-color: #232f3e;
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.panel-all{
    height: 34px;
    display: flex;
    align-items: center;
}
.panel-opt p{
    width: 36px;
    display: inline;
    align-items: center;
    margin-left: 10px;
}
.panel-opt{
    width: 80%;
    font-size: 0.85rem;
   
}
.panel-ele{
    font-size: 0.9rem;
    font-weight: 700;
    height: 34px;
    display: flex;
    align-items: center;
}
.hero-section{
    background-image: url(mainpic.jpg);
    background-size: cover;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-mesg{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    width: 95%;
    margin-bottom:75px;
}
.hero-mesg a{
    color: #007185;
    text-decoration: none;
}
.hero-mesg a:hover{
    color:rgb(59, 70, 79);
    text-decoration:underline
}
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color:#d3d3cb38;
}
.box{
    /* border:2px solid black; */
    height: 400px;
    width: 23%;;
    background-color: white;
    margin-top: 15px;
    padding: 20px 0px 15px;
}
.box_imag{
    height: 300px;
    background-size:cover;
    margin-top: 15px;
    margin-bottom: 25px;
    
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-content p{
    color: #007185;
}
footer{
    margin-top:20px ;
}
.footer-panel1{
    height: 50px;
    background-color: #37475a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
}
.footer-panel2{
    height: 300px;
    display: flex;
    padding-top: 30px;
    justify-content: space-around;
    background-color: #232f3e;
    color: white;

}
ul p{
    font-weight: bold;
}
ul a{
    display: block;
}
.footer-panel2 a{
    font-size: 14px;
    color:#dddddd;
    margin-top: 10px;
    margin-bottom: 10px;
}
.footer-panel3{
    background-color: #232f3e;
    height: 70px;
    border-top: 1px solid #37475a;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-ama{
    background-image: url(amazon_logo2.png);
    background-size: cover;
    width: 170px;
    height: 60px;
}
.footer-panel4{
    background-color: black;
    color: white;
    height: 50px;
    font-size: 0.7rem;
    text-align: center;
    padding-top: 20px;
}
.copyrights{
    margin-top: 4px;
}
